.server {
    background: #e8f3fe;
    margin-top: 15px;
}

.server-list {
    text-align: center;
    padding: 85px 0 30px 0;
}

.server-list ul {
    display: inline-block;
}

.server-list ul li {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0 60px;
}

.server-list ul li img {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(1, 57, 115, 0.3);
    border-radius: 50%;
}

.server-list ul li h3 {
    font-size: 40px;
    color: #666666;
    line-height: 40px;
    margin: 45px 0 25px 0;
}

.server-list ul li h3:after {
    content: '';
    display: block;
    width: 74px;
    height: 3px;
    background-color: #4c8bcb;
    margin: 20px auto 0 auto;
}

.server-list ul li p {
    font-size: 20px;
    color: #bfbfbf;
    line-height: 30px;
}


.title {
    text-align: center;
    padding: 70px 0;
}

.title h2 {
    font-size: 48px;
    color: #4d4d4d;
    text-align: center;
}

.title i {
    display: inline-block;
    font-size: 16px;
    color: #666666;
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
}

.recommend {
    background: #ffffff;
    padding-bottom: 60px;
}

.recommend-item {
    margin: 10px 0;
}

.recommend-item img {
    width: 100%;
    height: auto;
}


.cooperation {
    padding-bottom: 110px;
}

.cooperation .list {
    text-align: center;
    font-size: 0;
}

.cooperation .list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*display: inline-block;*/
}

.cooperation .list ul li {
    float: left;
    margin-bottom: 20px;
}

.cooperation .list img {
    width: 100%;
}

.news-list ul li {
    padding: 30px 0;
    border-bottom: dashed 1px #999999;
}

.news-list .left {
    display: block;
    padding-left: 0;
}

.news-list .left img {
    width: 100%;
}

.news-list .right h4 {
    font-size: 20px;
    line-height: 40px;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-list .right span {
    font-size: 16px;
    color: #999999;
    display: block;
    padding-bottom: 7px;
}

.news-list .right p {
    font-size: 16px;
    color: #999999;
}

.fenye {
    text-align: right;
    font-size: 0;
    padding: 20px 0;
    margin-top: 20px;
}

.fenye > div {
    display: inline-block;
}

.fenye a {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #9da098;
    float: left;
    font-size: 12px;
    color: #999999;
    text-align: center;
    line-height: 20px;
    margin: 0 5px;
}

.fenye a.on {
    background: #266cb4;
    border-color: #266cb4;
    color: #ffffff;
}

.fenye .prev,
.fenye .next {
    width: 44px;
}

.news .container {
    background: #ffffff;
    margin: 25px auto;
    padding: 0 40px;
}

.inside-title {
    padding: 20px 0 30px 0;
}

.inside-title h6 {
    font-size: 20px;
    color: #666666;
    line-height: 40px;
    position: relative;
}

.inside-title h6:after {
    content: '';
    width: 41px;
    height: 4px;
    background-color: #999999;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about .container {
    background: #ffffff;
    margin: 25px auto;
    padding: 0 40px;
}

.about .container .about-con {
    padding-bottom: 40px;
}

.about .container .about-con p {
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    text-indent: 32px;
    padding-bottom: 10px;
    /*font-family: 宋体,sans-serif;*/
    /*font-weight: bold;*/
}

.about .container .about-con .pic {
    padding-bottom: 20px;
}

.about .container .about-con img {
    width: 100%;
}

.cooperation-s .container {
    padding: 40px;
    margin: 25px auto;
    background: #ffffff;
}

.cooperation-s .container .cooperation-con ul li {
    padding: 40px 25px;
    border-bottom: dashed 1px #999999;
    position: relative;
}

.cooperation-s .container .cooperation-con ul li h5 {
    font-size: 24px;
    color: #266cb4;
    line-height: 24px;
    padding-bottom: 10px;
}

.cooperation-s .container .cooperation-con ul li h5:before {
    content: '';
    display: block;
    width: 4px;
    height: 24px;
    background-color: #b3b3b3;
    position: absolute;
    left: 0;
}

.cooperation-s .container .cooperation-con ul li p {
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}


.produce .container {
    margin: 25px auto;
    padding: 40px;
    background: #ffffff;
}

.inside-title-b {
    text-align: center;
}

.inside-title-b h6 {
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.inside-title-b p {
    font-size: 14px;
    color: #b3b3b3;
    padding-top: 20px;
}

.inside-title-b i {
    font-size: 20px;
    color: #999;
    display: inline-block;
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
}

.produce .produce-list {
    padding-top: 70px;
}

.produce .produce-list ul li {
    margin-bottom: 80px;
}

.produce .produce-list ul li img {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
    margin: 5px 0;
}

.produce .produce-list ul li h5 {
    font-size: 26px;
    color: #333;
    line-height: 45px;
}

.produce .produce-list ul li h5:after {
    content: '';
    display: block;
    width: 34px;
    height: 4px;
    background-color: #2467af;
    margin-bottom: 15px;
}

.produce .produce-list ul li p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}

.study .container {
    margin: 25px auto;
    background: #ffffff;
    padding: 80px 130px;
}

.study-tab {
    text-align: center;
    margin: 10px 0 60px 0;
}

.study-tab ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.study-tab ul li {
    text-align: center;
}

.study-tab ul li a {
    display: block;
    font-size: 24px;
    color: #666666;
}

.study-tab ul li a.on:after {
    content: '';
    display: block;
    width: 46px;
    height: 2px;
    background-color: #266cb4;
    margin: 10px auto;
}

.study-list ul li {
    margin-bottom: 70px;
}

.study-list ul li img {
    width: 100%;
}

.study-list ul li h5 {
    font-size: 26px;
    line-height: 55px;
    color: #333333;
    text-align: center;
}

.study-list ul li p {
    font-size: 20px;
    line-height: 20px;
    color: #4d4d4d;
    text-align: center;
    margin-bottom: 20px;
}

.study-list ul li span {
    font-size: 16px;
    color: #666666;
}

.form-zr .form-title {
    text-align: center;
    margin-bottom: 25px;
}

.form-zr .form-title h2 {
    font-size: 32px;
    color: #4d4d4d;
}

.form-zr {
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: solid 4px #266cb4;
    padding: 15px 40px;
}

.form-zr form > div {
    margin-bottom: 15px;
}

.form-zr input {
    width: 73%;
    height: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #8c8c8c;
}

.form-zr span {
    font-size: 20px;
    color: #666666;
}

.form-zr b {
    color: #f55131;
    font-size: 22px;
}

.form-zr .submit span {
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
}

.form-zr input[type=submit] {
    background: #f55131;
    font-size: 20px;
    color: #ffffff;
    border-color: #f55131;
}


/**/

.teacher {
    position: relative;
    background: #e8f3fe;
    padding-bottom: 60px;
}

.teacher .swiper-slide img {
    width: 100%;
}

.teacher .swiper-container {
    /*padding: 0 30px;*/
    margin: 0 20px;
    padding: 10px;
}

.teacher .swiper-button-next,
.teacher .swiper-button-prev {
    outline: none;
    width: 32px;
    height: 32px;
}

.teacher .swiper-button-prev {
    left: 0;
    background: url("../images/bl_03.png") center center /cover no-repeat;
}

.teacher .swiper-button-next {
    right: 0;
    background: url("../images/br_03.png") center center /cover no-repeat;
}

.teacher .swiper-slide {
    width: 320px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.teacher .swiper-slide .pic {
    width: 320px;
    height: 420px;
}

.teacher .swiper-slide .con {
    width: 100%;
    height: 420px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    padding: 10px 15px;
    text-align: center;
    display: table;
    position: absolute;
    top: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 20px);
    transition: all .2s linear;
}

.teacher .swiper-slide .con > div {
    font-size: 16px;
    color: #eeeeee;
    display: table-cell;
    vertical-align: middle;
}

.teacher .swiper-slide.swiper-slide:not(.swiper-slide-active) {
    transform: scale(.6);
    /*transition: all .3s linear;*/
}

.teacher .swiper-slide.swiper-slide-active:hover .con {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .2s linear;

}

.teacher .swiper-slide .name {
    text-align: center;
    font-size: 20px;
}

.teacher .swiper-slide .work {
    text-align: center;
    line-height: 1;
    padding: 10px 0 20px 0;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
@media screen and (max-width: 992px) {
    .title {
        text-align: center;
        padding: 15px 0;
    }

    .title h2 {
        font-size: 24px;
        color: #4d4d4d;
        text-align: center;
    }

    .title i {
        display: inline-block;
        font-size: 12px;
        color: #666666;
        padding: 0 20px 0;
        margin: 20px 0;
        line-height: 1px;
        border-left: 100px solid #ddd;
        border-right: 100px solid #ddd;
        text-align: center;
    }

    .recommend-item {
        padding: 0;
    }

    .cooperation {
        padding-bottom: 30px;
    }

    .server-list {
        padding-top: 30px;
    }

    .server-list ul li {
        padding: 0 10px;
    }

    .server-list ul li img {


    }

    .server-list ul li h3 {
        font-size: 18px;
        color: #666666;
        line-height: 30px;
        margin: 10px 0 10px 0;
    }

    .server-list ul li h3:after {
        content: '';
        display: block;
        width: 74px;
        height: 3px;
        background-color: #4c8bcb;
        margin: 5px auto 0 auto;
    }

    .server-list ul li p {
        font-size: 14px;
        color: #bfbfbf;
        line-height: normal;
    }

    .teacher .swiper-container {
        /*padding: 0 30px;*/
        margin: 0;
    }


    .cooperation .list ul li {
        /*margin: 0;*/
    }

    .news-list .left {
        display: block;
        padding: 0;
    }

    .news-list .right {
        padding: 0;
    }

    .news-list .right h4 {
        font-size: 18px;
    }

    .news-list .right span {
        font-size: 14px;
    }

    .news-list .right p {
        font-size: 14px;
        color: #999999;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .cooperation-s .container .cooperation-con ul li {
        padding: 20px 10px;
        border-bottom: dashed 1px #999999;
        position: relative;
    }

    .produce .container {
        padding: 20px;
        background: #ffffff;
    }

    .inside-title-b i {
        font-size: 20px;
        color: #999;
        display: inline-block;
        padding: 0 20px 0;
        margin: 20px 0;
        line-height: 1px;
        border-left: 100px solid #ddd;
        border-right: 100px solid #ddd;
        text-align: center;
    }

    .inside-title-b h6 {
        font-size: 30px;
        line-height: 30px;
        color: #333333;
    }

    .study-tab ul li a {
        font-size: 18px;
        line-height: 40px;
    }

    .study-tab ul li a.on {
        background: #266cb4;
        color: #ffffff;

    }

    .study-tab ul li a.on:after {
        content: '';
        display: none;
    }

    .study .container {
        margin: 25px auto;
        background: #ffffff;
        padding: 20px 40px;
    }

    .form-zr .form-title h2 {
        font-size: 22px;
        color: #4d4d4d;
    }

    .form-zr {
        background-color: #ffffff;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border: solid 2px #266cb4;
        padding: 15px 0;
    }

    .form-zr form > div {
        margin-bottom: 15px;
    }

    .form-zr input {
        width: 73%;
        height: 35px;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px #8c8c8c;
    }

    .form-zr span {
        font-size: 16px;
        color: #666666;
    }

    .form-zr b {
        color: #f55131;
        font-size: 22px;
    }

    .form-zr .submit span {
        color: #ffffff;
        visibility: hidden;
        opacity: 0;
    }

    .form-zr input[type=submit] {
        background: #f55131;
        font-size: 16px;
        color: #ffffff;
        border-color: #f55131;
    }

    .study-list ul li h5 {
        font-size: 18px;
        line-height: 36px;
    }

    .study-list ul li p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .study-list ul li span {
        font-size: 12px;
        color: #777777;
    }

    .study-tab {
        margin: 20px 0;
    }

    .study-list ul li {
        margin-bottom: 30px;
    }

    .produce .produce-list {
        padding-top: 30px;
    }

    .produce .produce-list ul li {
        margin-bottom: 30px;
    }

    .inside-title {
        padding: 15px 0 5px 0;
    }

    .about-con {
        padding-top: 30px;
    }

    .about .container .about-con p {
        font-size: 14px;
        text-indent: 28px;
        line-height: 24px;
    }

    .cooperation-s .container .cooperation-con ul li h5 {
        font-size: 20px;
    }

    .cooperation-s .container .cooperation-con ul li h5:before {
        content: '';
        display: block;
        width: 4px;
        height: 20px;
        background-color: #b3b3b3;
        position: absolute;
        left: 0;
        top: 22px;
    }

    .cooperation-s .container .cooperation-con ul li p {
        font-size: 14px;
    }

    .cooperation-s .container {
        padding: 20px 40px;
    }

    .teacher {
        position: relative;
        background: #e8f3fe;
        padding-bottom: 20px;
    }

    .teacher .swiper-button-next,
    .teacher .swiper-button-prev {
        display: none;
    }

    .teacher .swiper-slide {
        width: 225px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .teacher .swiper-slide.swiper-slide:not(.swiper-slide-active) {
        transform: scale(.6);
        /*transition: all .3s linear;*/
    }

    .teacher .swiper-slide .pic {
        width: 100%;
        height: 170px;
    }

    .teacher .swiper-slide .con {
        display: block;
        font-size: 12px;
        height: 150px;
        overflow: auto;
        position: static;
        background: #f1f1f1;
        text-align: center;
        z-index: 3;
        visibility: visible;
        opacity: 1;
        transform: none;
    }

    .teacher .swiper-slide .con > div {
        width: 100%;
        height: 130px;
        overflow: auto;
        display: block;
    }

    .teacher .swiper-slide .con > div .name {
        color: #4c4c4c;
        font-size: 14px;
    }

    .teacher .swiper-slide .con > div .work {
        color: #4c4c4c;
        font-size: 12px;
    }

    .teacher .swiper-slide .con > div .his {
        color: #4c4c4c;
        font-size: 12px;
    }
}
