/**/
/**/
/**/
/**/
.banner {
    width: 100%;
}

.banner .swiper-slide img {
    width: 100%;
}

/**/
/**/
/**/

.server-list {
    text-align: center;
    padding: 85px 0 30px 0;
    background: #e8f3fe;
}

.server-list ul {
    display: inline-block;
}

.server-list ul li {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0 60px;
}

.server-list ul li img {
    width: 220px;
    height: 220px;
    box-shadow: 0 2px 4px 0 rgba(1, 57, 115, 0.3);
    border-radius: 110px;
}

.server-list ul li h3 {
    font-size: 40px;
    color: #666666;
    line-height: 40px;
}

.server-list ul li h3:after {
    content: '';
    display: block;
    width: 74px;
    height: 3px;
    background-color: #4c8bcb;
    margin: 20px auto 0 auto;
}

.server-list ul li p {
    font-size: 20px;
    color: #bfbfbf;
    line-height: 30px;
}



